/*========================================================
	Author: CJ Jones
	Software Developer Student Drill 18 HTML/CSS
=========================================================*/

body {
	background-color: lightblue;
	font: #2200ff; 


}

.
iframe {
	width: 320;
	height: 240;
	
}